name: Publish

on:
  release:
    types: [ published ]

jobs:
  publish:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Sign macOS contents
        run: find ./DragonFruit.OnionFruit.Native.osx/runtimes -type f ! -name '*.txt' | xargs -I {} codesign --options runtime --force --sign - {}

      - name: Build
        run: dotnet build -c Release -v normal -p:Version=${{ github.ref_name }}

      - name: Pack (Beta)
        run: dotnet pack -c Release --include-symbols --no-build -v normal -o . -p:PackageVersion=${{ github.ref_name }}-beta
        if: "github.event.release.prerelease"

      - name: Pack (Stable)
        run: dotnet pack -c Release --include-symbols --no-build -v normal -o . -p:PackageVersion=${{ github.ref_name }}
        if: "!github.event.release.prerelease"

      - name: Publish
        run: dotnet nuget push "*.nupkg" -k ${{ secrets.NUGET_KEY }} --skip-duplicate -s https://api.nuget.org/v3/index.json